apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-app
  namespace: default
  labels:
    app: ecommerce-app
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ecommerce-app
  template:
    metadata:
      labels:
        app: ecommerce-app
        version: v1
    spec:
      containers:
      - name: ecommerce-app
        image: registry.digitalocean.com/dev-smoke/ecommerce-app:10
        ports:
        - containerPort: 5000
          name: http
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "2000m"